<ol class="breadcrumb">
    <li><a ng-href="#/">{{'termed' | translate}}</a></li>
    <li><a ng-href="#/schemes/{{scheme.id}}/concepts">
        {{scheme.properties.prefLabel | localizeValue}}
    </a></li>
    <li class="active">{{'edit' | translate}}</li>
</ol>

<div class="row">
    <div class="col-xs-8">
        <button class="btn btn-sm btn-success" ng-click="save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            {{'save' | translate | capitalize}}
        </button>
    </div>

    <div class="col-xs-4 text-right">
        <button class="btn btn-sm btn-danger" ng-click="remove()">
            <span class="glyphicon glyphicon-trash"></span>
            {{'remove' | translate | capitalize}}
        </button>
    </div>
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
    <span class="glyphicon glyphicon-alert"></span> {{error}}
</div>

<h1 class="page-header">
    {{scheme.properties.prefLabel | localizeValue}}
</h1>

<form role="form">

    <div class="form-group">
        <label>{{'code' | translate | capitalize}}</label>
        <input type="text" class="form-control" ng-model="scheme.code">
    </div>

    <div class="form-group">
        <label>URI</label>
        <input type="text" class="form-control" ng-model="scheme.uri">
    </div>

    <thl-scheme-properties-edit property-map="scheme.properties"></thl-scheme-properties-edit>

</form>

<hr>

<h3>{{'classes' | translate | capitalize}}</h3>

<button class="btn btn-default btn-sm" ng-click="newClass(class)">
    <span class="glyphicon glyphicon-plus"></span>
    {{'addNewClass' | translate | capitalize}}
</button>

<br>
<br>

<div thl-sortable elements="scheme.classes">
    <div ng-repeat="class in scheme.classes">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title handle">
                    {{'class' | translate | capitalize}}: {{class.properties.prefLabel |
                    localizeValue}}
                </h3>
                <div class="row" style="margin-top: 10px">
                    <div class="col-xs-6">
                        <button class="btn btn-default btn-xs" ng-click="selectClass(class)"
                                data-toggle="modal" data-target="#classModal">
                            <span class="glyphicon glyphicon-edit"></span>
                            {{'edit' | translate | capitalize}}
                        </button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-danger btn-xs" ng-click="removeClass(class)">
                            <span class="glyphicon glyphicon-trash"></span>
                            {{'remove' | translate | capitalize}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    {{'textAttributes' | translate | capitalize}}
                                </th>
                            </tr>
                            </thead>
                            <tbody thl-sortable elements="class.textAttributes">
                            <tr ng-repeat="textAttribute in class.textAttributes">
                                <td class="handle">{{textAttribute.properties.prefLabel |
                                    localizeValue}}
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-default btn-xs"
                                            ng-click="selectClass(class);selectTextAttribute(textAttribute)"
                                            data-toggle="modal"
                                            data-target="#textAttributeModal">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        {{'edit' | translate | capitalize}}
                                    </button>
                                    <button class="btn btn-danger btn-xs"
                                            ng-click="removeTextAttribute(class, textAttribute)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        {{'remove' | translate | capitalize}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="2">
                                    <button class="btn btn-default btn-xs"
                                            ng-click="newTextAttribute(class)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        {{'addNewTextAttribute' | translate | capitalize}}
                                    </button>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    {{'referenceAttributes' | translate | capitalize}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tbody thl-sortable elements="class.referenceAttributes">
                            <tr ng-repeat="referenceAttribute in class.referenceAttributes">
                                <td class="handle">
                                    {{referenceAttribute.properties.prefLabel | localizeValue}}
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-default btn-xs"
                                            ng-click="selectClass(class);selectReferenceAttribute(referenceAttribute)"
                                            data-toggle="modal"
                                            data-target="#referenceAttributeModal">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        {{'edit' | translate | capitalize}}
                                    </button>
                                    <button class="btn btn-danger btn-xs"
                                            ng-click="removeReferenceAttribute(class, referenceAttribute)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        {{'remove' | translate | capitalize}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="2">
                                    <button class="btn btn-default btn-xs"
                                            ng-click="newReferenceAttribute(class)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        {{'addNewReferenceAttribute' | translate | capitalize}}
                                    </button>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="classModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="classModalLabel">
                    <small>
                        {{scheme.properties.prefLabel | localizeValue}}
                    </small>
                    <br>
                    {{'class' | translate | capitalize}}:
                    {{cls.properties.prefLabel | localizeValue}}
                </h4>
            </div>
            <div class="modal-body">
                <!-- body -->

                <div class="form-group">
                    <label>ID</label>

                    <input type="text" class="form-control" ng-model="cls.id">
                </div>

                <div class="form-group">
                    <label>URI</label>

                    <input type="text" class="form-control" ng-model="cls.uri">
                </div>

                <thl-scheme-properties-edit property-map="cls.properties">
                </thl-scheme-properties-edit>

                <!-- /body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="textAttributeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="textAttributeModalLabel">
                    <small>
                        {{scheme.properties.prefLabel | localizeValue}} &gt;
                        {{cls.properties.prefLabel | localizeValue}}
                    </small>
                    <br>
                    {{'textAttribute' | translate | capitalize}}:
                    {{textAttribute.properties.prefLabel | localizeValue}}
                </h4>
            </div>
            <div class="modal-body">
                <!-- body -->

                <div class="form-group">
                    <label>ID</label>

                    <input type="text" class="form-control" ng-model="textAttribute.id">
                </div>

                <div class="form-group">
                    <label>URI</label>

                    <input type="text" class="form-control" ng-model="textAttribute.uri">
                </div>

                <thl-scheme-properties-edit property-map="textAttribute.properties">
                </thl-scheme-properties-edit>

                <!-- /body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default"
                        data-toggle="modal"
                        data-target="#textAttributeModal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="referenceAttributeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="referenceAttributeModalLabel">
                    <small>
                        {{scheme.properties.prefLabel | localizeValue}} &gt;
                        {{cls.properties.prefLabel | localizeValue}}
                    </small>
                    <br>
                    {{'referenceAttribute' | translate | capitalize}}:
                    {{referenceAttribute.properties.prefLabel | localizeValue}}
                </h4>
            </div>
            <div class="modal-body">
                <!-- body -->

                <div class="form-group">
                    <label>ID</label>

                    <input type="text" class="form-control" ng-model="referenceAttribute.id">
                </div>

                <div class="form-group">
                    <label>URI</label>

                    <input type="text" class="form-control" ng-model="referenceAttribute.uri">
                </div>

                <div class="form-group">
                    <label>{{'range' | translate | capitalize}}</label>

                    <select class="form-control" ng-model="referenceAttribute.range.id">
                        <option ng-repeat="cls in scheme.classes" value="{{cls.id}}">
                            {{cls.properties.prefLabel | localizeValue}}
                        </option>
                    </select>
                </div>

                <thl-scheme-properties-edit property-map="referenceAttribute.properties">
                </thl-scheme-properties-edit>

                <!-- /body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default"
                        data-toggle="modal"
                        data-target="#referenceAttributeModal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>


<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{scheme | json}}</pre>
</div>
