<ol class="breadcrumb">
    <li class="active">{{'termed' | translate}}</li>
</ol>

<h1 class="page-header">
    {{'termed' | translate}}
</h1>

<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h3 class="panel-title">{{'resources' | translate | capitalize}}</h3>
                    </div>
                    <div class="col-xs-4 text-right text-muted">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input class="form-control" ng-model="query"
                           ng-change="searchResources(query)"
                           ng-model-options="{debounce: 50}"
                           placeholder="{{'searchResources' | translate | capitalize}}"
                           type="text">
                </div>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{'label' | translate | capitalize}}</th>
                        <th width="25%">{{'type' | translate | capitalize}}</th>
                        <th width="25%">{{'source' | translate | capitalize}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="resource in resources">
                        <td>
                            <a ng-href="#/schemes/{{resource.scheme.id}}/classes/{{resource.type.id}}/resources/{{resource.id}}">
                                {{resource.properties.prefLabel | localizeValue:('unnamed' | translate)}}
                            </a>
                        </td>
                        <td>
                            <small>
                                <a ng-href="#/schemes/{{resource.scheme.id}}/resources?q=type.id:{{resource.type.id}}"
                                   class="text-muted">
                                    {{resource.type.properties.prefLabel | localizeValue}}
                                </a>
                            </small>
                        </td>
                        <td>
                            <small>
                                <a ng-href="#/schemes/{{resource.scheme.id}}/resources"
                                   class="text-muted">
                                    {{resource.scheme.properties.prefLabel | localizeValue}}
                                </a>
                            </small>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-default btn-sm {{resources.length == max || 'disabled'}}"
                        ng-click="loadMoreResults()">
                    {{'showMoreResults' | translate | capitalize}}
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'schemes' | translate | capitalize}}</h3>
            </div>
            <div class="panel-body">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input class="form-control" ng-model="schemeQuery" type="text"
                           placeholder="{{'searchSchemes' | translate | capitalize}}">
                </div>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{'scheme' | translate | capitalize}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="scheme in schemes | filter:schemeQuery">
                        <td>
                            <a ng-href="#/schemes/{{scheme.id}}/resources">
                                {{scheme.properties.prefLabel | localizeValue}}
                            </a>
                        </td>
                        <td class="text-right">
                            <a class="text-muted" ng-href="#/schemes/{{scheme.id}}/edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-default btn-sm" ng-click="newScheme()">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{'addNewScheme' | translate | capitalize}}
                </button>
            </div>
        </div>
    </div>
</div>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{schemes | json}}</pre>
</div>
