<div ng-if="!isEmpty(resource.referrers)">

    <hr>

    <dl class="text-muted">
        <dt>{{'referrers' | translate | capitalize}}</dt>
        <dd>
            <div ng-repeat="(k, rs) in resource.referrers">
                <div ng-repeat="r in rs">
                    <a ng-href="#/schemes/{{r.scheme.id}}/classes/{{r.type.id}}/resources/{{r.id}}">
                        &larr;
                        {{r.properties.prefLabel | localizeValue}}
                        <small class="text-muted">({{r.type.properties.prefLabel | localizeValue}})</small>
                    </a>
                </div>
            </div>
        </dd>
    </dl>

</div>