<div class="form-group" ng-repeat="property in properties">
    <div ng-if="propertyMap[property.id] && ensureProperty(propertyMap, property.id)">
        <label>{{property.properties.prefLabel | localizeValue |
            capitalize}}</label>

        <div ng-repeat="langValue in propertyMap[property.id]">
            <input type="text" class="form-control pull-left lang-input"
                   ng-model="langValue.lang" style="width:5%;">
            <textarea type="text" class="form-control" rows="1" ng-model="langValue.value"
                      style="width:95%;border-top-left-radius:0;border-bottom-left-radius:0;">
            </textarea>
        </div>
    </div>
</div>

<div class="form-group">
    <div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default dropdown-toggle"
                    type="button" id="add-cls-property-menu"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                <span class="glyphicon glyphicon-plus"></span>
                {{'addNewProperty' | translate | capitalize}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="add-cls-property-menu">
                <li ng-repeat="property in properties">
                    <a ng-click="ensureProperty(propertyMap, property.id)">
                        {{property.properties.prefLabel | localizeValue}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
